{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<!DOCTYPE html>
<html class="h-100" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- CSS only -->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <title>Happy Dogs</title>
    <!-- Favicon icon -->
    <link href="{% static 'style.css' %}" rel="stylesheet" />

</head>

<body class="h-100">
    <div class="columns" id="main_form">
        <div class="column is-half">
        <form class="column " method="POST" >
            {% csrf_token %}
            {{message}}
            <!-- {%for erorr in form.errors%} -->
            <!-- {%endfor%} -->
            {{form|crispy}}
            <br/>
            <button class="button is-warning">Submit</button>
        </form>
    </div>
        <div class="column">
            <a href="{%url 'load_seed_data'%}">
                <button class="button is-primary">
                    Generate Data
                </button>
            </a>
        </div>

        <div class="column">
            <a href="{%url 'admin:index'%}" target="_blank">
                <button class="button is-link">
                   Go to admin
                </button>
            </a>
        </div>

    </div>

    {{weeks}}
    <table id="calendar">
        <tr class="weekdays">

            <th scope="col">Monday</th>
            <th scope="col">Tuesday</th>
            <th scope="col">Wednesday</th>
            <th scope="col">Thursday</th>
            <th scope="col">Friday</th>
            <th scope="col">Saturday</th>
            <th scope="col">Sunday</th>
        </tr>
        {%for week in visits_data %}
        <tr class="days">
            {%for day in week %}
            <td class="day other-month">
                {%if day.date%}

                <div class="date">
                    <p>
                        {%if day.date.day == 1%}
                        {{day.date| date:'M'}}
                        {%endif%}
                        {{day.date.day}}
                    </p>
                </div>


                <div class="event"  onclick="openmodal('{{day.date.day}}{{day.date.month}}{{day.date.year}}')">
                    <div class="event-desc">
                        {%if day.count == 1%}
                        {{day.count}} dog
                        {%else%}
                        {{day.count}} dogs
                        {%endif%}
                    </div>
                </div>
                {%endif%}
            </td>
            <div class="modal" id="{{day.date.day}}{{day.date.month}}{{day.date.year}}">
                <div class="modal-background"></div>
                    <!-- Any other Bulma elements you want -->

                <div class="modal-content">
                    <header class="modal-card-head">
                        <p class="modal-card-title">Dogs In board</p>
                        <button class="delete" aria-label="close" onclick="closed('{{day.date.day}}{{day.date.month}}{{day.date.year}}')"></button>
                      </header>
                      {%for visit in day.visits%}
                      <section class="modal-card-body">
                        <div>Dog {{forloop.counter}}: {{visit.dog.full_name}}</div>
                      </section>
                      {%endfor%}
                    </div>

                </div>
                <button class="modal-close is-large" aria-label="close" onclick="closed('{{day.date.day}}{{day.date.month}}{{day.date.year}}')"></button>
            </div>
            {%endfor%}
        </tr>
        {%endfor%}
    </table>
</body>

<script>
    let openmodal = (myid) => {
        el = document.getElementById(myid)
        el.classList.add("is-active")
    }
    let closed = (myid) => {
        el = document.getElementById(myid)
        el.classList.remove("is-active")
    }
</script>

</html>





{% endblock %}
