[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
django-bootstrap4 = "*"
python-decouple = "*"
gunicorn = "*"
django-cors-headers = "*"
django-crispy-forms = "*"
holidays = "*"

[dev-packages]

[requires]
python_version = "3.7"
